In [3]:
# TensorFlow y tf.keras
import tensorflow as tf
from tensorflow import keras

# Librerias de ayuda
import numpy as np
import matplotlib.pyplot as pltc
import pandas as pd

In [2]:
fashion_mnist = keras.datasets.fashion_mnist

(train_images, train_labels), (test_images, test_labels) = fashion_mnist.load_data()

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/train-labels-idx1-ubyte.gz
29515/29515 [==============================] - 0s 1us/step
Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/train-images-idx3-ubyte.gz
26421880/26421880 [==============================] - 1s 0us/step
Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/t10k-labels-idx1-ubyte.gz
5148/5148 [==============================] - 0s 0s/step
Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/t10k-images-idx3-ubyte.gz
4422102/4422102 [==============================] - 0s 0us/step

In [7]:
print(train_images.shape)

(60000, 28, 28)

In [10]:
df_img = pd.read_hdf('testHDF.h5')

In [11]:
df_img.head()

,Imagen,Caracteristicas,Rostro,Etiqueta
0,"[[[165, 165, 162], [165, 166, 161], [165, 166,...","[[(62, 83), (62, 88), (62, 92), (63, 97), (64,...","[[[160, 162, 161], [160, 162, 161], [160, 162,...",bored
1,"[[[164, 166, 161], [165, 167, 162], [164, 166,...","[[(62, 83), (62, 87), (63, 92), (63, 97), (64,...","[[[160, 162, 160], [161, 162, 161], [160, 161,...",bored
2,"[[[165, 165, 163], [165, 165, 163], [164, 165,...","[[(63, 82), (63, 87), (63, 91), (63, 96), (65,...","[[[159, 161, 158], [160, 162, 159], [161, 162,...",bored
3,"[[[165, 166, 162], [165, 165, 163], [165, 165,...","[[(63, 83), (63, 87), (63, 92), (63, 97), (64,...","[[[159, 161, 158], [161, 163, 160], [155, 157,...",bored
4,"[[[165, 166, 161], [166, 167, 162], [165, 167,...","[[(63, 82), (63, 87), (63, 91), (63, 96), (65,...","[[[160, 162, 159], [161, 163, 161], [152, 154,...",bored

In [14]:
x_test = df_img.drop('Etiqueta', axis=1)
x_test = x_test.drop('Imagen', axis=1)
x_test.head()

,Caracteristicas,Rostro
0,"[[(62, 83), (62, 88), (62, 92), (63, 97), (64,...","[[[160, 162, 161], [160, 162, 161], [160, 162,..."
1,"[[(62, 83), (62, 87), (63, 92), (63, 97), (64,...","[[[160, 162, 160], [161, 162, 161], [160, 161,..."
2,"[[(63, 82), (63, 87), (63, 91), (63, 96), (65,...","[[[159, 161, 158], [160, 162, 159], [161, 162,..."
3,"[[(63, 83), (63, 87), (63, 92), (63, 97), (64,...","[[[159, 161, 158], [161, 163, 160], [155, 157,..."
4,"[[(63, 82), (63, 87), (63, 91), (63, 96), (65,...","[[[160, 162, 159], [161, 163, 161], [152, 154,..."

In [15]:
x_test.shape

(5037, 2)